<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="../css/estilos.css"> {% endcomment %}

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        nav{
            background-color: lightblue;
            height: 50px;
            border-bottom: 5px solid black;

        }
        
        nav ul li{
            float: left;
            list-style: none;
            text-decoration: none;
            margin: 10px;
            line-height: 30px;
        } 
        nav ul li a{
            text-decoration: none;
        }
    </style>

    <title>
        {% block title %}
        {% comment %} Para hacer comentarios usamos el ctrl + k + c {% endcomment %}
        {% comment %} Aqui va el bloque del title {% endcomment %}


        {% endblock title %}
    </title>
</head>
<body>
    
    {% comment %} <h1>Estoy en la pagina de inicio</h1>
    <h2>Bienvenido a mi pagina con django</h2> {% endcomment %}

    <nav>
        <ul>
            <li><a href="{% url "inicio" %}">Inicio</a></li>
            <li><a href="{% url "acercade" %}">Acerca de mi</a></li>
            <li><a href="{% url "nuestramision" %}">Mision</a></li>
            <li><a href="{% url "nuestravision" %}">Vision</a></li>
        </ul>
    </nav>

    {% block content %}
    {% comment %} Aqui se maqueta el contenido del bloque {% endcomment %}
    {% endblock content %}
</body>
</html>